@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-roboto: var(--font-roboto);
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar2::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  .no-scrollbar2::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .no-scrollbar2::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .no-scrollbar2::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
/* custom styles */
body {
  background: hsl(197 17% 8%);
  color: #d2d6db;
  font-family: var(--font-roboto);
}
.container {
  @apply max-w-395 mx-auto px-2;
}
#bannerSlider .swiper-pagination-bullet {
  background-color: #fff;
}
