@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-roboto: var(--font-roboto);
}

body {
  background: hsl(197 17% 8%);
  color: #d2d6db;
  font-family: var(--font-roboto);
}
.container {
  @apply max-w-395 mx-auto px-5;
}
